body {
    width: 100%;
    margin: 0px;
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family:Tahoma;
}
label{
    display:block;
    margin:5px;
}
h1,p{
    text-align:center;
    margin:1em;
}
form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
}
fieldset{
    
    margin:20px;
}
input[type="submit"] {
    display: block;
    padding: 5px;
    margin: 20px auto;
    background-color: #3b3b4f;
    border-color:white;
    color:white;
}
input, textarea {
    background-color: #0a0a23;
    border-color:white;
    color:white;
}